doctype html
html
  head
    title Italo Train Fare
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet')
    style
      include ./styles.css
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css' rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data-2012-2022.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/async/2.6.1/async.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js')
  body
    div.ts.very.narrow.container
      h2.ts.header Italo Train Fare
    div.ts.eight.column.very.narrow.container.segment
      form.ts.form(id="form")
        div.ts.separated.dropdowns.field
          div.divider From
          select.ts.basic.dropdown(name="depart" id="depart")
            each ele in [{"value":"BC_","label":"Bologna"},{"value":"BLZ","label":"Bolzano"},{"value":"BSC","label":"Brescia"},{"value":"DSG","label":"Desenzano"},{"value":"F__","label":"Ferrara"},{"value":"SMN","label":"Firenze SMN"},{"value":"MI0","label":"Milano (Tutte)"},{"value":"MC_","label":"Milano Centrale"},{"value":"RRO","label":"Milano Rho Fiera"},{"value":"RG_","label":"Milano Rog"},{"value":"NAF","label":"Napoli Afragola"},{"value":"NAC","label":"Napoli C.le"},{"value":"PD_","label":"Padova"},{"value":"PSY","label":"Peschiera"},{"value":"AAV","label":"Reggio Emilia AV"},{"value":"RM0","label":"Roma (Tutte)"},{"value":"RMT","label":"Roma Termini"},{"value":"RTB","label":"Roma Tib"},{"value":"RVR","label":"Rovereto"},{"value":"R__","label":"Rovigo"},{"value":"SAL","label":"Salerno"},{"value":"TOP","label":"Torino P.Nuova"},{"value":"OUE","label":"Torino P.Susa"},{"value":"TCN","label":"Trento"},{"value":"VE0","label":"Venezia (Tutte)"},{"value":"VEM","label":"Venezia Mestre"},{"value":"VSL","label":"Venezia S.Lucia"},{"value":"VPN","label":"Verona P.N."},{"value":"VIC","label":"Vicenza"}]
              option(value=ele.value selected=ele.value == depart) #{ele.label}
          div.divider To
          select.ts.basic.dropdown(name="arrival" id="arrival")
            each ele in [{"value":"BC_","label":"Bologna"},{"value":"BLZ","label":"Bolzano"},{"value":"BSC","label":"Brescia"},{"value":"DSG","label":"Desenzano"},{"value":"F__","label":"Ferrara"},{"value":"SMN","label":"Firenze SMN"},{"value":"MI0","label":"Milano (Tutte)"},{"value":"MC_","label":"Milano Centrale"},{"value":"RRO","label":"Milano Rho Fiera"},{"value":"RG_","label":"Milano Rog"},{"value":"NAF","label":"Napoli Afragola"},{"value":"NAC","label":"Napoli C.le"},{"value":"PD_","label":"Padova"},{"value":"PSY","label":"Peschiera"},{"value":"AAV","label":"Reggio Emilia AV"},{"value":"RM0","label":"Roma (Tutte)"},{"value":"RMT","label":"Roma Termini"},{"value":"RTB","label":"Roma Tib"},{"value":"RVR","label":"Rovereto"},{"value":"R__","label":"Rovigo"},{"value":"SAL","label":"Salerno"},{"value":"TOP","label":"Torino P.Nuova"},{"value":"OUE","label":"Torino P.Susa"},{"value":"TCN","label":"Trento"},{"value":"VE0","label":"Venezia (Tutte)"},{"value":"VEM","label":"Venezia Mestre"},{"value":"VSL","label":"Venezia S.Lucia"},{"value":"VPN","label":"Verona P.N."},{"value":"VIC","label":"Vicenza"}]
              option(value=ele.value selected=ele.value == arrival) #{ele.label}
          span.ts.checkbox(id="round_trip")
            input(type="checkbox" name="is_round" id="is_round" checked=is_round=="true")
            label(for="is_round") Round Trip
        div.two.fields
          div.field(id="depart_date")
            label Depart Date
            input(type="date" name="interval_start" value=interval_start)
          div.field(id="return_date" style=is_round == "true" ? "display: block" : "display: none")
            label Return Date
            input(type="date" name="round_start" value=round_start)
        div.four.fields
          div.field
            select.ts.basic.dropdown(name="adult" id="adult" value="1" required)
              option(value="" disabled) Adult
              each val in [1,2,3,4,5,6,7,8,9]
                option(value=val selected=val == adult) #{val}
          div.field
            select.ts.basic.dropdown(name="child" id="child" value="0" required)
              option(value="" disabled) Child
              each val in [0,1,2,3,4,5,6,7,8,9]
                option(value=val selected=val == child) #{val}
          div.field
            select.ts.basic.dropdown(name="class" id="class" value="all" required)
              option(value="" disabled) Class
              each ele in [{label:"All",value:"O"},{label:"Smart",value:"S"},{label:"Prima",value:"P"},{label:"Comfort",value:"T"},{label:"Club",value:"C"},{label:"Salotto 1",value:"S1"},{label:"Salotto 2",value:"S2"}]
                option(value=ele.value selected=ele.value == class_lv) #{ele.label}
          div.field
            select.ts.basic.dropdown(name="service" id="service" required)
              each ele in [{label:"All",value:null,belongsTo:"S"},{label:"All",value:null,belongsTo:"P"},{label:"All",value:null,belongsTo:"T"},{label:"All",value:null,belongsTo:"C"},{label:"All",value:null,belongsTo:"O"},{label:"Promo",value:"H",belongsTo:"S"},{label:"Low Cost",value:"U",belongsTo:"S"},{label:"Economy",value:"T",belongsTo:"S"},{label:"Flex",value:"N",belongsTo:"S"},{label:"Low Cost",value:"B1",belongsTo:"P"},{label:"Economy",value:"M1",belongsTo:"P"},{label:"Flex",value:"G",belongsTo:"P"},{label:"Low Cost",value:"S",belongsTo:"T"},{label:"Economy",value:"F",belongsTo:"T"},{label:"Flex",value:"Z",belongsTo:"T"},{label:"Economy",value:"X",belongsTo:"C"},{label:"Flex",value:"A",belongsTo:"C"},{label:"Flex",value:"W0",belongsTo:"S1"},{label:"Flex",value:"Y0",belongsTo:"S2"}]
                if ele.belongsTo == class_lv
                  option(value=ele.value selected="true")
        div.three.fields
          div.field
            input(type="text" placeholder="Promo Code" name="promo_code" id="promo_code" value=promo_code)
          div.field
            input.ts.primary.button(type="button" id="submit" value="Search")
          div.field
            input.ts.positive.button(type="button" id="share" value="Share")
        div.field
          label Price Lower Than
          input(type="number" name="pax_price_filter" id="pax_price_filter" value=pax_price ? pax_price : "300.00" step="0.10" onkeydown="if(event.keyCode === 13)return false;")
    div.ts.very.narrow.container(id="result")
    script
      include ./index.js
